/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/
/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }
	img, video {
		max-width: 100%;
		height: auto;
	}	
		

/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)

/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { padding-bottom: 20px; } /*margin*/

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px; }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
	/****one-five****/
    .container .one-five.columns                   { width: 172px; }
	
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }
	
	.container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }
	
	/* INSIDE CONTAINERS */
	
	.pad-l-r-5 								{ padding:0 5px 0 5px;}
	.container .in-column,
    .container .in-columns                      { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	
	
	/*with out borders*/
	.container .in-one-third.in-column          {width:290px;} 
	.container .in-two-third.in-column          {width:600px;}
	.container .in-sixteen.in-columns        	{width:910px;} 
	.container .in-eight.in-columns        		{width:445px;}
	.container .in-four.in-columns        		{width:212px;}
	.container .in-three-four.in-columns        {width:678px;}
	
	/*with borders*/
	/*.container .in-one-third.in-column          {width:289px;} 
	.container .in-two-third.in-column          {width:599px;}
	.container .in-sixteen.in-columns        	{width:908px;} 
	.container .in-eight.in-columns        		{width:444px;}
	.container .in-four.in-columns        		{width:212px;}
	.container .in-three-four.in-columns        {width:676px;}*/




/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #535961;
		/*font-family: "Georgia", "Times New Roman", serif;*/
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	/*p { margin: 0 0 20px 0; }
	p img { margin: 0; }*/
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; padding-right: 5px;}
	/*strong { font-weight: bold; color: #333; }*/
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 16px; line-height: 23px; color: #777; font-style: italic; font-weight:lighter; }
	blockquote {
	margin: 0 0 10px 32px;
	 padding: 18px 20px;
	/*border-left: 1px solid #ddd;*/

	border-left:2px solid #1bbc9b;
	position:relative;
	background-color:#f8f8f8;
	/*color:#a0a1a3;*/
}
	blockquote:before {
	background-image: url("../images/quote2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color:#1bbc9b;
	z-index:999;
	height:38px;
	width:38px;
	display:block;
	content:"";
	position:absolute;
	left:-38px;
	top:0px;
}
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
	
	
/************************************************************************************************************/	
	
	
	
	/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
   .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }